@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  position: relative;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}
.logo-image {
  max-width: 140px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  border-radius: 5px;
}

header {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0 10em;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}

section {
  padding: 6em 8em;
  background: rgba(230, 227, 227, 1);

  h2 {
    font-size: 3em;
    color: #d72929;
    margin-bottom: 1em;
  }
}

.nav-links {
  color: black;
  font-weight: 600;
  flex: 1;
  text-align: right;
  gap: 2em;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-size: 1.3em;
}

/* dropdown menu */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background: white;
  list-style: none;
  padding: 0.5em 0;
  border-radius: 5px;
  min-width: 260px;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}

.dropdown-menu li {
  text-align: left;
  font-size: 0.9em;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: rgba(215, 41, 41, 0.1);
  color: rgb(215, 41, 41);
}

.dropdown-menu a {
  width: 100%;
  padding: 0.6em 1em;
  display: block;
}
.nav-links_contacts {
  color: rgb(215, 41, 41);
}

.nav-links a:not(.nav-links_contacts a):hover {
  color: rgb(215, 41, 41);
}

.heading {
  background: url("images/main-bg.webp") no-repeat;
  background-size: cover;
  background-position: top;
  padding: 10em;
}

.heading-title {
  font-size: 3em;
  font-weight: 500;
  color: #d72929;
  margin-bottom: 0.5em;
  margin-top: 8em;
  background: rgba(230, 227, 227, 0.7);
  padding: 0.5em 1em;
  text-transform: capitalize;
  border-radius: 5px;

  p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
  }
}

.company-name {
  color: rgb(215, 41, 41);
  font-weight: 700;
}

footer {
  font-weight: bold;
  position: relative;
  background: #fff;
  width: 100%;
  padding: 1em;
  text-align: center;
  bottom: 0;
  left: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-transform: uppercase;
  color: black;
}

#about-us {
  background: rgba(230, 227, 227, 1);
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 40%;
  text-align: justify;
}

#services {
  background: url("images/services-bg.jpg") no-repeat;
  background-size: cover;
}

.section-content {
  font-size: 1.3em;
  line-height: 1.5em;
}

.services-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(215, 41, 41, 0.8);
  border-radius: 5px;
  padding: 1.5em;
  color: rgba(230, 227, 227, 1);
  gap: 2em;
}
.element-image {
  img {
    max-width: 90px;
  }
}
.column {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.column-row {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
}

.service-column-info {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  max-width: 300px;

  .element-title {
    font-size: 1.2em;
    font-weight: bold;
  }

  span {
    font-size: 0.8em;
    text-align: left;
    line-height: 1.5em;
  }
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(230, 227, 227, 1);
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  aspect-ratio: 16/11;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(215, 41, 41) !important;
  /* Change this to your desired color */
}

.swiper-button-next {
  right: 5em !important;
}
.swiper-button-next::after {
  font-size: 5em !important;
}

.swiper-button-prev {
  left: 5em !important;
}
.swiper-button-prev::after {
  font-size: 5em !important;
}
.contacts-content {
  display: flex;
  justify-content: space-between;
}
.contact-details-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
/* swiper end */

/* map */

#map {
  height: 400px;
  width: 600px;
}

@media screen and (max-width: 1100px) {
  section {
    padding: 1em;
  }
  h2 {
    text-align: center;
  }
  .about-us {
    width: 100%;
  }
  .heading {
    padding: 1em;
  }
  .element-image {
    img {
      max-width: 75px;
    }
  }
  .service-column-info {
    .element-title {
      font-size: 1em;
    }
  }
  header {
    padding: 0 2em;
  }
  .contacts-content {
    flex-direction: column;
    gap: 1em;
  }
}

@media screen and (max-width: 767px) {
  .nav-links {
    display: none;
    position: absolute;
    flex-direction: column;
    background: white;
    right: 0;
    padding: 1em;
    top: 68.7px;
    width: 175px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: flex-start;
    gap: .8em;
  }
  .dropdown {
    width: unset;
  }
  .logo-image {
    max-width: 100px;
  }
  body {
    font-size: 14px;
  }
  #map {
    height: 300px;
    width: 300px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 8px;
  }
  .heading-title {
    h1 {
      font-size: 1em;
    }
    p {
      font-size: .8em
    }
  }
  .dropdown.open {
    text-align: left;
  }
  .column {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .dropdown-menu.show {
    li {
      padding: 0;
      font-size: .65em;
    }
  }
  .burger-menu {
    width: 2rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .line {
    width: 2rem;
    height: 0.25rem;
    background-color: #333;
    transition: all 0.3s ease;
    border-radius: 20px;
  }

  .menu-active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .menu-active .line2 {
    opacity: 0;
  }

  .menu-active .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
  }

  header {
    justify-content: space-between;
    background: white;
  }
  .heading-title {
    font-size: 2em;
    padding: 0.5em 1em;
  }
  .dropdown-menu {
    position: static;
    display: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
    min-width: 100%;
  }

  .dropdown-menu li {
    padding: 0.4em 0;
    font-size: 0.9em;
  }

}
.dropdown-link {
  cursor: pointer;
}
.show {
  display: block;
}

.heading-brakes {
  background: url("images/sections/brakes2.webp") no-repeat center;
}

.heading-engine {
  background: url("images/sections/engine1.webp") no-repeat center;
}

.heading-maintenance {
  background: url("images/sections/maintenance2.webp") no-repeat center;
}

.heading-software {
  background: url("images/sections/software.webp") no-repeat center;
}

.heading-gearbox {
  background: url("images/sections/gearbox1.webp") no-repeat center;
}

.heading-suspension {
  background: url("images/sections/suspension1.webp") no-repeat center;
}

.dropdown-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.arrow {
  width: 16px;
  height: 16px;
  stroke-width: 3.5;
  transition: transform 0.2s ease;
}
.dropdown.open .arrow {
  transform: rotate(180deg);
}